{% extends 'med_center/basic_design.html' %}
{% load my_tags %}
{% block title %}Login{% endblock %}

{% block header %}
{% include 'med_center/includes/header_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Medical Sport Center</h1>
    <p class="lead">Вход на сайт</p>
</div>

{% endblock %}

{% block content %}
<div class="card-body">
    <form method="post" action="" class="form-floating" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            {{ form.as_p }}
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                Войти
            </button>
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'med_center:home' %}">Назад</a>
        </div>
    </form>
</div>
{% endblock %}