{% extends 'med_center/base_page.html' %}
{% load my_tags %}
{% block title %}О компании{% endblock %}

{% block header %}
{% include 'med_center/includes/header_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">О компании</h1>
    <p class="lead">Medical center - это самый инновационный центр здоровья с 2025 года! </p>
    <p class="lead">НЕ проведения профосмотров, а способствовать высокому качеству жизни, здоровью и благополучию,
        оказывая индивидуально каждому пациенту качественную медицинскую помощь.
        Мы станем лидером по оказанию качественных медицинских услуг в стране </p>
</div>

{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Ф.И.О врача</th>
            <th scope="col">Стаж</th>
            <th scope="col">Специальность</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor.username }}</td>
            <td>{{ doctor.experience }}</td>
            <td>{{ doctor.speciality }}</td>
            <td>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}