<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'med_center:home' %}" Главная страница></a>
        {% endblock %}
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body>
  </div>
        {% block header %}
        {% endblock %}
        <div class="container ">
            {% block content %}
            {% endblock %}

            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        Кто здесь самый здоровый?
                        <small class="d-block mb-3 text-muted">&copy; 2025</small>
                    </div>
                    <div class="col-6 col-md">
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'med_center:contacts' %}"
                        >Форма для обратной связи</a>
                        <ul class="list-unstyled text-small">
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'med_center:contacts' %}"
                        >Контактная информация</a>
                        <ul class="list-unstyled text-small">
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'med_center:contacts' %}"></a>
                        <h5>О нас</h5>
                        <ul class="list-unstyled text-small">
                        </ul>
                    </div>
                </div>
            </footer>
        </div>

        <script src="/static/js/bootstrap.bundle.min.js"></script>
    </body>
</html>