{% extends 'med_center/base_page.html' %}
{% load my_tags %}
{% block title %}Главная страница{% endblock %}

{% block header %}
{% include 'med_center/includes/header_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">SendMail Service</h1>
    <p class="lead">Официальный сайт Медицинского центра. Команда профессионалов в области спортивной медицины. Выгодные цены на лечение и восстановление.</p>
    {% if user.is_authenticated %}
    <a class="btn btn-lg btn-block btn-outline-primary" href="#">Записаться на прием</a>
    {% endif %}
</div>

{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <img src="media/mailing_service/photo/all_send_mail.jpg" width="270" height="200">
                <h4 class="my-0 font-weight-normal">Перечень предоставляемых услуг</h4>
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <p class="card-title pricing-card-title">У вас: {{ all_mailing.count }} шт.</p>
                {% else %}
                    <p class="card-title pricing-card-title">Всего: {{ all_mailing.count }} шт.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <img src="media/mailing_service/photo/active_mailing.jpg" width="250" height="200">
                <h4 class="my-0 font-weight-normal">Активные рассылки</h4>
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <p class="card-title pricing-card-title">У вас: {{ active_mailing.count}} шт.</p>
                {% else %}
                    <p class="card-title pricing-card-title">Всего: {{ active_mailing.count}} шт.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-6 box-shadow">
            <div class="card-header">
                <img src="media/mailing_service/photo/user_mail.jpg" width="200" height="200">
                <h4 class="my-0 font-weight-normal">Уникальные получатели</h4>
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <p class="card-title pricing-card-title">У вас: {{ unique_receivers.count }} пользователей.</p>
                {% else %}
                    <p class="card-title pricing-card-title">Всего: {{ unique_receivers.count }} пользователей.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}