{% extends 'med_center/base_page.html' %}
{% load my_tags %}
{% block title %}Главная страница{% endblock %}

{% block header %}
{% include 'med_center/includes/header_menu.html' %}
<div class="row text-center">
    {% for product in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <img src="{{product.picture | media_filter}}" width="200" height="200">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ product.price }}РУБ.</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- {{ product.description|truncatechars:30 }}</li>
                </ul>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'med_center:product_detail' product.pk%}"></a>
                    Подробнее

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}